@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Limelight&display=swap");
html {
  font-size: 10px;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h3,
p,
a {
  color: #182828;
}

h1 {
  font-family: "Limelight", cursive;
  font-size: 9rem;
}

h3 {
  font-family: "Limelight", cursive;
  font-size: 2rem;
}

p {
  line-height: 1.7;
  letter-spacing: 0.8px;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 7rem;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 6rem;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  h1 {
    font-size: 5rem;
  }
}

/*
@mixin imgFit($imgWidth: 100%) {
  width: $imgWidth;
  object-fit: cover;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin gridColStyle($gridCol: 1fr 1fr) {
  display: grid;
  grid-template-columns: $gridCol;
} */
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
  position: absolute;
  z-index: 1;
}

.nav-bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.nav-bar-list-link {
  cursor: pointer;
}

@media (max-width: 1100px) {
  .nav-bar {
    position: static;
    width: 100%;
  }
  .nav-bar-list {
    font-size: 1.4rem;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .nav-bar-list-link.home {
    display: none;
  }
  .nav-bar-list {
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  .nav-bar-list-link.contact,
  .nav-bar-list-link.home {
    display: none;
  }
}

.main-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  position: relative;
}

.main-header__image {
  width: 40%;
  top: 0;
  right: 0;
  z-index: 0;
  position: absolute;
}

.main-header__text-group {
  padding-top: 20em;
  position: relative;
}

.main-header__heading {
  z-index: 1;
  position: relative;
}

.main-header__paragraph {
  font-size: 1.6rem;
  width: 40%;
  margin: 1em 0 4em;
}

.main-header__svg {
  bottom: -25%;
  left: 42%;
  overflow: visible;
  z-index: 0;
  position: absolute;
}

.main-header__svg #icecream #drop {
  -webkit-animation: drop 1.5s infinite cubic-bezier(0.99, -0.04, 0.83, 0.96);
          animation: drop 1.5s infinite cubic-bezier(0.99, -0.04, 0.83, 0.96);
}

@-webkit-keyframes drop {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}

@keyframes drop {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}

@media (max-width: 1100px) {
  .main-header__svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    left: 34%;
  }
}

.half-image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 12rem;
}

.half-image-text__img {
  width: 50%;
  z-index: 1;
  position: relative;
}

.half-image-text__text-group {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.half-image-text___paragraph {
  width: 60%;
  padding-bottom: 1em;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 1100px) {
  .half-image-text___paragraph {
    width: 80%;
  }
}

.two-images {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  background-color: #ea424b;
  -ms-grid-rows: 1fr 10fr;
      grid-template-rows: 1fr 10fr;
  position: relative;
}

.two-images-svg {
  position: absolute;
  top: 0;
  right: 0;
  overflow: visible;
}

.two-images-svg #drop {
  -webkit-animation: drop 1.8s infinite cubic-bezier(1, 0.19, 0.83, 0.96);
          animation: drop 1.8s infinite cubic-bezier(1, 0.19, 0.83, 0.96);
}

.two-images-svg-bite {
  position: absolute;
  bottom: 5%;
  left: 2%;
}

.two-images-svg-bite #bite-on {
  -webkit-animation: bite 3s infinite;
          animation: bite 3s infinite;
}

.two-images__heading {
  font-size: 3rem;
  color: #ffffff;
  margin-top: 1em;
  margin-left: 1.5em;
  top: 1em;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
}

.two-images__wrapper {
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.two-images___image {
  position: relative;
  width: 47%;
  background-color: black;
}

.two-images___image:hover img {
  opacity: 0.6;
}

.two-images___image:hover .hover-text {
  opacity: 1;
}

.two-images___image img {
  width: 100%;
  height: 76vh;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.two-images___image .hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  text-align: center;
  width: 100%;
}

.two-images___image .hover-text h1,
.two-images___image .hover-text p {
  color: #ffffff;
}

.two-images___image .hover-text p {
  font-size: 3rem;
  text-align: center;
}

.display {
  display: block;
}

.display-none {
  display: none;
}

#miriam-story-image {
  display: block;
}

.miriam-story {
  font-size: 1rem;
}

@keyframes drop {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(900px);
            transform: translateY(900px);
  }
}

@-webkit-keyframes bite {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bite {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1100px) {
  .two-images-svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    top: -20px;
    right: -20px;
  }
  .two-images-svg-bite {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 1000px) {
  .two-images {
    height: 80vh;
  }
  .two-images-svg {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    top: -60px;
    right: -20px;
  }
  .two-images__wrapper {
    width: 80%;
  }
  .two-images___image img {
    height: auto;
  }
}

.btn {
  background: transparent;
  border: 3px solid #1e6262;
  border-radius: 5px;
  padding: 1em 3em;
  text-transform: uppercase;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  letter-spacing: 0.7px;
  cursor: pointer;
  outline: none;
}

.btn a {
  color: #1e6262;
}

.btn:hover {
  background: #1e6262;
}

.btn:hover a {
  color: #ffffff;
}

.md-text {
  font-size: 3rem;
  text-align: center;
}

.slide-text {
  font-size: 12rem;
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px #ea424b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -6%;
  width: 100vw;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.slide-text:hover .fas {
  color: #ea424b;
}

.slide-text-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slide 7s infinite linear;
          animation: slide 7s infinite linear;
}

.slide-text-item .fas {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.slide-text > div {
  padding-right: 0.5em;
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.footer {
  height: 200px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ea424b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-logo-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 22%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo-area p {
  font-size: 1rem;
  color: #ffffff;
}

.footer-logo-area .logo {
  color: #ffffff;
}

.footer-logo-area > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-stores__store {
  text-align: center;
}

.footer p,
.footer a {
  font-size: 1.4rem;
  color: #ffffff;
}

.footer .fas {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 0.4em;
}

.logo {
  text-transform: capitalize;
  font-family: "Limelight", cursive;
  font-size: 2.1rem;
}

@media (max-width: 1100px) {
  .logo {
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .logo {
    font-size: 1.6rem;
  }
}

.upper-part {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  padding-top: 16rem;
  position: relative;
}

.upper-part-text {
  width: 50%;
}

.upper-part-text-div {
  width: 70%;
  margin: 0 auto;
}

.upper-part-text-paragraph {
  font-size: 1.6rem;
  width: 90%;
}

.upper-part-svg {
  width: 50%;
  background-color: #5499a1;
  overflow: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upper-part-svg___svg {
  overflow: visible;
}

.upper-part-svg___svg #blink,
.upper-part-svg___svg #blink_1,
.upper-part-svg___svg #blink_2,
.upper-part-svg___svg #blink_3,
.upper-part-svg___svg #blink_4,
.upper-part-svg___svg #blink_5,
.upper-part-svg___svg #blink_6,
.upper-part-svg___svg #blink_7 {
  -webkit-animation: blink 4s infinite linear;
          animation: blink 4s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.upper-part-svg___svg #car {
  offset-path: path("M208.628 246.557C194.001 240.683 179.884 234.046 165.549 226.716C79.5051 182.712 18.289 130.349 28.8159 109.771C31.4161 104.687 38.1543 102.009 48.1281 101.524");
  -webkit-animation: move 16s infinite linear;
          animation: move 16s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes blink {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes blink {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/*
@keyframes move {
  100% {
    offset-distance: 100%;
  }
} */
@-webkit-keyframes move {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(1) rotateZ(-15deg);
            transform: scale(1) rotateZ(-15deg);
  }
  70% {
    -webkit-transform: scale(1) rotateZ(-15deg);
            transform: scale(1) rotateZ(-15deg);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(0.5) rotateZ(-15deg);
            transform: scale(0.5) rotateZ(-15deg);
  }
}
@keyframes move {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(1) rotateZ(-15deg);
            transform: scale(1) rotateZ(-15deg);
  }
  70% {
    -webkit-transform: scale(1) rotateZ(-15deg);
            transform: scale(1) rotateZ(-15deg);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(0.5) rotateZ(-15deg);
            transform: scale(0.5) rotateZ(-15deg);
  }
}

.image-slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #5499a1;
}

.image-slider-div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: inherit;
  width: inherit;
  -webkit-animation: slider 12s infinite linear;
          animation: slider 12s infinite linear;
  visibility: hidden;
  opacity: 0;
}

.image-slider__image {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-slider-text {
  background-color: #ffffff;
  border: 5px solid #ea424b;
  position: absolute;
  bottom: 80px;
  right: 100px;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  text-align: center;
}

.image-slider-text h1 {
  font-size: 7.5rem;
}

.image-slider-text p {
  font-size: 1.6rem;
  width: 100%;
}

.image-slider-div:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.image-slider-div:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.image-slider-div:nth-child(3) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

@-webkit-keyframes slider {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  2% {
    visibility: visible;
    opacity: 1;
  }
  28% {
    visibility: visible;
    opacity: 1;
  }
  36% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes slider {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  2% {
    visibility: visible;
    opacity: 1;
  }
  28% {
    visibility: visible;
    opacity: 1;
  }
  36% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@media (max-width: 1100px) {
  .slide-text {
    font-size: 10rem;
  }
}

.ingredient-container {
  padding-top: 8%;
  display: -ms-grid;
  display: grid;
}

.ingredient-container-p {
  font-size: 3rem;
  text-align: center;
  width: 40%;
  text-align: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.ingredient-container-p .p-span {
  color: #5499a1;
}

.ingredient-container-p .p-span-one {
  font-family: "Limelight", cursive;
  font-size: 7.5rem;
  line-height: 0;
}

.ingredient-container-p .p-span-two {
  font-weight: 700;
}

.icecreams-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  text-align: center;
  grid-gap: 11rem;
  padding: 9rem 0 12rem;
}

.icecreams-grid h3 {
  padding-top: 1em;
  line-height: 1.4;
}

.blackberry {
  fill: #c4a5d7;
}

.blackberry:nth-child(4) {
  fill: #965eb8;
}

.pistacio-cream {
  fill: #aae07f;
}

.pistacio-cream:nth-child(4) {
  fill: #74c831;
}

.menthe {
  fill: #b6d9f9;
}

.menthe:nth-child(4) {
  fill: #58a8f1;
}

.lime-cilantro {
  fill: #dbf9b6;
}

.lime-cilantro:nth-child(4) {
  fill: #adf158;
}

.banana-mango {
  fill: #f8e85a;
}

.banana-mango:nth-child(4) {
  fill: #e2cc0a;
}

.straw-raspberry {
  fill: #f8635a;
}

.straw-raspberry:nth-child(2) {
  fill: #fcc0bc;
}

.straw-raspberry:nth-child(4) {
  fill: #e2160a;
}

.choc-peanut {
  fill: #7a5709;
}

.choc-peanut:nth-child(1) {
  fill: #a9790d;
}

.choc-peanut:nth-child(2) {
  fill: #d99b10;
}

.choc-peanut:nth-child(4) {
  fill: #1b1302;
}

.licorice-pepper {
  fill: #717273;
}

.licorice-pepper:nth-child(1) {
  fill: #8a8c8d;
}

.licorice-pepper:nth-child(4) {
  fill: #3e3f40;
}

.redcurrant-rose {
  fill: #ffbcbc;
}

.redcurrant-rose:nth-child(4) {
  fill: #ff5656;
}

.vanilla {
  fill: #ffffff;
  stroke: #d0cfcf;
  stroke-width: 1.5px;
}

.vanilla:nth-child(4) {
  fill: #cccccc;
}

.elder-crunch {
  fill: #fffacf;
}

.elder-crunch:nth-child(4) {
  fill: #ffef69;
}

.peach {
  fill: #f4954f;
}

.peach:nth-child(4) {
  fill: #d0600d;
}

@media (max-width: 1400px) {
  .icecreams-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 11rem;
    padding: 9rem 0 12rem;
  }
  .icecreams-grid h3 {
    padding-top: 1em;
    line-height: 1.4;
  }
}

@media (max-width: 1100px) {
  .ingredient-container {
    padding-top: 12%;
  }
  .ingredient-container-p {
    font-size: 2.5rem;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .icecreams-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.5rem;
  }
  .ingredient-container-p {
    font-size: 2rem;
    width: 90%;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 3em 0;
  }
}

.anime-section {
  position: relative;
}

.anime-section-image:hover p {
  display: block;
}

.anime-section .padding-hack {
  padding-bottom: 32%;
}

.anime-section p {
  font-family: "Limelight", cursive;
  font-size: 2.1rem;
  width: 100%;
  height: auto;
  position: absolute;
  display: none;
}

.anime-section-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
}

.anime-section-image {
  position: relative;
  width: 80%;
  overflow: hidden;
}

.anime-section-image .coffee,
.anime-section-image .strawb-ice,
.anime-section-image .strawb-waffle {
  width: 100%;
}

.anime-section-image:nth-child(1) p {
  color: #ffffff;
}

.anime-section-image:nth-child(2) {
  justify-self: flex-end;
  margin-top: 20%;
  z-index: 1;
}

.anime-section-image:nth-child(3) {
  -ms-grid-row: 2;
  grid-area: 2 / span 2;
  top: -30%;
  left: 10%;
  z-index: 0;
}

.md-text.beneath-two-images {
  padding: 3em 0;
}
/*# sourceMappingURL=main.css.map */