.anime-section {
  position: relative;

  &-image:hover p {
    display: block;
  }
  .padding-hack {
    padding-bottom: 32%;
  }

  p {
    font-family: "Limelight", cursive;
    font-size: size(sm) + 0.5rem;
    width: 100%;
    height: auto;
    position: absolute;
    display: none;
  }

  &-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  &-image {
    position: relative;
    width: 80%;
    overflow: hidden;

    .coffee,
    .strawb-ice,
    .strawb-waffle {
      width: 100%;
    }
  }
  &-image:nth-child(1) p {
    color: color(white);
  }
  &-image:nth-child(2) {
    justify-self: flex-end;
    margin-top: 20%;
    z-index: 1;
  }
  &-image:nth-child(3) {
    grid-area: 2 / span 2;
    top: -30%;
    left: 10%;
    z-index: 0;
  }
}

.md-text.beneath-two-images {
  padding: 3em 0;
}
